<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img [src]="producto.image" [alt]="producto.name"></td>
        <td>{{producto.name}}</td>
        <td>{{producto.description}}</td>
        <td>{{producto.price}}</td>
        
      </tr>
      <tr>
        <td>No image</td>
        <td>Palermo</td>
        <td>Cerveza</td>
        <td>$170</td>
        
      </tr>
      <tr>
        <td>No image</td>
        <td>Manaos</td>
        <td>Gaseosa 3L</td>
        <td>$130</td>
      </tr>
    </tbody>
  </table>