<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of producto">
        <td><img [src]="producto.image" [alt]="producto.name"></td>
        <td>{{producto.name}}</td>
        <td>{{producto.description}}</td>
        <td>{{producto.price | currency:'ARS'}}</td>
        
      </tr>
    </tbody>
  </table>