<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of oferta">
        <td><img [src]="oferta.image" [alt]="oferta.name"></td>
        <td>{{oferta.name}}</td>
        <td>{{oferta.description}}</td>
        <td>{{oferta.price | currency:'ARS'}}</td>
        
      </tr>
    </tbody>
  </table>
